{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="center-page">
        <div id="homepage" class="text">
            <div id="homepagetext">
                <h1 style="font-size: 48px;">Aryo Wirapradana</h1>
            <p>Aryo, Hayasaka, Insight</p>
            <p></p>
            <p>Seorang mahasiwa jurusan Sistem Informasi di Fasilkom UI. 
                Menjunjung tinggi professionalitas dan integritas. 
                Tidak takut mengambil peran pemimpin dan koordinasi saat bekerja tim. 
                Seorang enthusiast Manga dan Anime yang juga tertarik 
                dengan berbagai bidang lain seperti sejarah dan budaya. 
                <b>Nepgear best girl</b>.</p>
            <a class="homebutton" href="{% url 'profile' %}" style="float: left;"><img src="{% static 'Profilebutton.png' %}"></a>
            <a class="homebutton" href="{% url 'interest' %}" style="float: right;"><img src="{% static 'Interestbutton.png' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}