{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="diri">
        <img id="fotodiri" src="{% static 'JP10_formal.jpeg' %}">
        <p class="space"></p>
        <p id="diri-table" class="text">
            <b>Nama            :</b>  Aryo Wirapradana <br>
            <b>Angkatan        :</b>  2019 <br>
            <b>Tempat Kuliah   :</b>  Fasilkom UI <br>
            <b>Tempat Tinggal  :</b>  Jakarta Selatan    
        </p>
    </div>
    <div class="history text" style="float: left;">
        <p>Pengalaman</p>
        <hr>
        <table>
            <tr>
                <td rowspan="2"><img src="{% static 'LogoSISTEM.png' %}"></td>
                <td>Anggota SISTEM Consulting SIG</td>
            </tr>
            <tr>
                <td class="tahun">2020 - Sekarang</td>
            </tr>
            <tr>
                <td rowspan="2"><img src="{% static 'LogoRacana.png' %}"></td>
                <td>Anggota Racana Nara Kalpavhriksha</td>
            </tr>
            <tr>
                <td class="tahun">2019 - Sekarang</td>
            </tr>
            <tr>
                <td rowspan="2"><img src="{% static 'LogoUI.png' %}"></td>
                <td>Asisten Dosen DDP1</td>
            </tr>
            <tr>
                <td class="tahun">Semester Gasal 2020</td>
            </tr>
        </table>
    </div>
    <div class="history text" style="float: right;">
        <p style="text-align: right;">Pendidikan</p>
        <hr>
        <table style="float: right;">
            <tr>
                <td>SDIP Darul Mustafa</td>
                <td rowspan="2"><img src="{% static 'LogoSD.png' %}"></td>
            </tr>
            <tr>
                <td class="tahun">2007 - 2013</td>
            </tr>
            <tr>
                <td>SMPN 177 Jakarta</td>
                <td rowspan="2"><img src="{% static 'LogoSMP.png' %}"></td>
            </tr>
            <tr>
                <td class="tahun">2013 - 2016</td>
            </tr>
            <tr>
                <td>SMAN 47 Jakarta</td>
                <td rowspan="2"><img src="{% static 'LogoSMA.png' %}"></td>
            </tr>
            <tr>
                <td class="tahun">2016 - 2019</td>
            </tr>
        </table>
    </div>
{% endblock %}